@model Product;
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="single-product-wrap mb-35">
        <div class="product-img product-img-zoom mb-20">
            <a asp-action="Detail" asp-controller="Product" asp-route-name="@(GeneralTool.UrlToString(Model.Name))" asp-route-id="@Model.ID">
                @if (Model.ProductPictures.Any())
                {
                    <img src="@Model.ProductPictures.First().Picture" alt="@Model.ProductPictures.First().Name" />
                }
                else
                {
                    <img src="/images/product/product-1.jpg" alt="Default Image" />
                }
            </a>
            <div class="product-action-wrap">
                <div class="product-action-left">
                    <button class="product-action-left add-to-cart" productId="@Model.ID" stock="@Model.Stock"><i class="icon-basket-loaded"></i>Sepete Ekle!</button>
                </div>
            </div>
        </div>
        <div class="product-content-wrap">
            <div class="product-content-left">
                <h4><a href="product-details.html">@Model.Name</a></h4>
                <div class="product-price">
                    <span>$@Model.Price</span>
                </div>
            </div>
            <div class="product-content-right tooltip-style">
                <button class="font-inc"><i class="icon-heart"></i><span>Favoriye Ekle</span></button>
            </div>
        </div>
    </div>
</div>