@model ProductPicture
<form class="form d-flex flex-column flex-lg-row"
	  method="post"
	  enctype="multipart/form-data"
	  asp-controller="ProductPicture"
	  asp-action="Edit"
	  asp-area="admin">

	<!--begin::Main column-->
	<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
		<!--begin::General options-->
		<div class="card card-flush py-4">
			<!--begin::Card header-->
			<div class="card-header">
				<div class="card-title">
					<h2>General</h2>
				</div>
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body pt-0">

				<div class="mb-10 fv-row">
					<!--begin::Image input-->
					<!--begin::Image input placeholder-->
					@if(string.IsNullOrEmpty(Model.Picture))
					{
						<style>
							.image-input-placeholder {
								background-image: url('/admin/media/svg/files/blank-image.svg');
							}

							[data-bs-theme="dark"] .image-input-placeholder {
								background-image: url('/admin/media/svg/files/blank-image-dark.svg');
							}
						</style>
					} else
					{
						<style>
							.image-input-placeholder {
								background-image: url('@Model.Picture');
							}

							[data-bs-theme="dark"] .image-input-placeholder {
								background-image: url('@Model.Picture');
							}
						</style>
					}
					<!--end::Image input placeholder-->
					<!--begin::Image input-->
					<div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
						<!--begin::Preview existing avatar-->
						<div class="image-input-wrapper w-150px h-150px"></div>
						<!--end::Preview existing avatar-->
						<!--begin::Label-->
						<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
							<!--begin::Icon-->
							<i class="ki-duotone ki-pencil fs-7">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
							<!--end::Icon-->
							<!--begin::Inputs-->
							<input type="file" asp-for="@Model.Picture" accept=".png, .jpg, .jpeg" />
							<input type="hidden" name="avatar_remove" />
							<!--end::Inputs-->
						</label>
						<!--end::Label-->
						<!--begin::Cancel-->
						<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
							<i class="ki-duotone ki-cross fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</span>
						<!--end::Cancel-->
						<!--begin::Remove-->
						<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
							<i class="ki-duotone ki-cross fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</span>
						<!--end::Remove-->
					</div>
					<!--end::Image input-->
					<!--begin::Description-->
					<div class="text-muted fs-7">Set the category thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
					<!--end::Description-->
				</div>

				
				<div class="mb-10 fv-row">
					<!--begin::Label-->
					<label class="required form-label" asp-for="@Model.Name"></label>
					<!--end::Label-->
					<!--begin::Input-->
					<input asp-for="@Model.Name" class="form-control mb-2">
					<!--end::Input-->
					<span class="text-danger fs-7" asp-validation-for="@Model.Name"></span>
				</div>
				
				<div class="mb-10 fv-row">
					<!--begin::Label-->
					<label class="required form-label" asp-for="@Model.DisplayIndex"></label>
					<!--end::Label-->
					<!--begin::Input-->
					<input asp-for="@Model.DisplayIndex" class="form-control mb-2">
					<!--end::Input-->
					<!--begin::Description-->
					<span class="text-danger fs-7" asp-validation-for="@Model.DisplayIndex"></span>
					<!--end::Description-->
				</div>
				<!--end::Input group-->
				<!--end::Input group-->
			</div>
			<!--end::Card header-->
		</div>
		<!--end::General options-->

		<div class="d-flex justify-content-end">
			<!--begin::Button-->
			<a asp-area="admin" asp-controller="ProductPicture" asp-action="Index" class="btn btn-light me-5">İptal</a>
			<!--end::Button-->
			<!--begin::Button-->
			<button type="submit" class="btn btn-primary">
				Güncelle
			</button>
			<!--end::Button-->
		</div>
	</div>
	<!--end::Main column-->
</form>