@model OrderVM
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Checkout </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-main-area pt-120 pb-120">
    <div class="container">

        <div class="customer-zone mb-20">
            <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p>
            <div class="checkout-login-info3">
                <form action="#">
                    <input type="text" placeholder="Coupon code">
                    <input type="submit" value="Apply Coupon">
                </form>
            </div>
        </div>
        <div class="checkout-wrap pt-30">
            <form asp-controller="Cart"
                  asp-action="Checkout"
                  method="post">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap mr-50">
                            <h3>Adress Bilgileri</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.Name"></label>
                                        <input type="text" asp-for="@Model.Order.Name">
                                        <span class="text-danger" asp-validation-for="@Model.Order.Name"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.Surname"></label>
                                        <input type="text" asp-for="@Model.Order.Surname">
                                        <span class="text-danger" asp-validation-for="@Model.Order.Surname"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.Phone"></label>
                                        <input type="text" asp-for="@Model.Order.Phone">
                                        <span class="text-danger" asp-validation-for="@Model.Order.Phone"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.Mail"></label>
                                        <input type="text" asp-for="@Model.Order.Mail">
                                        <span class="text-danger" asp-validation-for="@Model.Order.Mail"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-select mb-20">
                                        <label asp-for="@Model.Order.CityID"></label>
                                        <select asp-for="@Model.Order.CityID" asp-items="@Model.Cities.Select(x => new SelectListItem() { Text = x.Name, Value = x.ID.ToString() })"></select>
                                        <span class="text-danger" asp-validation-for="@Model.Order.CityID"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.ZipCode"></label>
                                        <input type="text" asp-for="@Model.Order.ZipCode" />
                                        <span class="text-danger" asp-validation-for="@Model.Order.ZipCode"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="billing-info mb-20">
                                        <label asp-for="@Model.Order.Address"></label>
                                        <input class="billing-address" placeholder="House number and street name" type="text" asp-for="@Model.Order.Address">
                                        <span class="text-danger" asp-validation-for="@Model.Order.Address"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="your-order-area">
                            <h3>Siparişin</h3>
                            <div class="your-order-wrap gray-bg-4">
                                <div class="your-order-info-wrap">
                                    <div class="your-order-info">
                                        <ul>
                                            <li>Ürünler <span>TOPLAM</span></li>
                                        </ul>
                                    </div>
                                    <div class="your-order-middle">
                                        <ul>
                                            @foreach (var item in Model.Carts)
                                            {
                                                <li>@item.Name x @item.Quantity<span>$@(item.Price * item.Quantity)</span></li>
                                            }
                                        </ul>
                                    </div>

                                    <div class="your-order-info order-total">
                                        <ul>
                                            <li>Toplam <span>$@Model.Carts.Sum(c => c.Price * c.Quantity) </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method billing-info-wrap">
                                    <div class="billing-select">
                                        <select asp-for="@Model.Order.PaymentOption" asp-items="@Html.GetEnumSelectList<EPaymentOption>()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="Place-order">
                                <button type="submit" class="btn btn-success">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
